

<h1>INITIALIZED PATHS</h1>
<?php
echo '<br /> DS ::'. DS;
echo '<br />';
echo '<br /> PATH_ROOT ::'. PATH_ROOT;
echo '<br /> PATH_HOST  :: ' . PATH_HOST;
echo '<br />';
echo '<br /> PATH_HTML  :: ' . PATH_HTML;
echo '<br /> PATH_CSS  :: ' . PATH_CSS;
echo '<br /> PATH_JS  :: ' .  PATH_JS;
echo '<br />';
echo '<br /> PATH_APP  :: ' .  PATH_APP;
echo '<br /> PATH_CORE :: ' .  PATH_CORE;
echo '<br /> PATH_CONFIG  :: ' .  PATH_CONFIG;
echo '<br /> PATH_LIBS  :: ' .  PATH_LIBS;
echo '<br />';
echo '<br /> PATH_CONTROLLER  :: ' .  PATH_CONTROLLER; 
echo '<br /> PATH_CONTROLLER_ADMIN  :: ' . PATH_CONTROLLER_ADMIN;
echo '<br /> PATH_CONTROLLER_DEV  :: ' . PATH_CONTROLLER_DEV;
echo '<br />';
echo '<br /> PATH_MODELS  :: ' .  PATH_MODELS;
echo '<br />';
echo '<br /> PATH_VIEW  :: ' .  PATH_VIEW;
echo '<br /> PATH_VIEW_TMP  :: ' . PATH_VIEW_TMP;
echo '<br /> PATH_VIEW_ADMIN  :: ' .  PATH_B_VIEW ;
echo '<br /> PATH_VIEW_DEV  :: ' . PATH_B_VIEW_TMP;
echo '<br />';
echo '<br /> PATH_UPLOAD :: ' . PATH_UPLOAD;
echo '<br /> PATH_TMP  :: ' . PATH_TMP;
?>
